{% extends "layout.html" %}
{% block content %}
<center>
  <h1>Load existing library</h1>
<h3>Choose the library that you want to load</h3>
</center>

    {% for post in posts.items %}
        <article class="media content-section">
          
          <div class="media-body">
              
              <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">Name: {{ post.title }}</a></h2>
              <p class="article-content">Description: {{ post.content }}</p>
              <div class="article-metadata">
               
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
          </div>
        </article>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}