{% extends "layout.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body" align="center">
      <div  align="center">
          {% if current_user.is_authenticated %}
          <div align="middle">
            <h3>Authoring Software</h3>
            <br>
              <a class="btn btn-secondary btn-sm mt-3 mb-3 btn-green" href="{{ url_for('posts.new_post') }}">Create Library</a>
              <br>
              <a class="btn btn-secondary btn-sm mt-3 mb-3 btn-blue" href="{{ url_for('posts.existing_experience') }}">Existing Libraries</a>
          </div>
          {% endif %}
      </div>
      
  </div>
</article>

{% endblock content %}
