
.title-bar {
    background-color: #2bcc9c;
    /* Green color */
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: white;
    font-size: 20px;
    /*font-weight: bold;*/
    margin-left: 40px;
}

.buttons-container {
    display: flex;
}

.icon {
    /*background-image: url("./static/icons/home.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; /* Added this line */
    color: #ffffff;
    height: 30px;
    width: 30px;
    display: block;
    margin-left: 60px;
    /* Other styles here */
}
.icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    color: blue;
}



/* **************** Left panel ********************/

.left-panel-container {
    float: left;
    width: 20%;
    max-height: 50%;
    overflow: auto;
    position: relative;
}

.left-panel {
    padding: 20px;
}

.left-panel .upload-area {
    margin: 10px;
}

.left-panel input[type="file"] {
    display: none;
}

.left-panel-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 5px;
    /* Adjust the width of the border */
    height: 17px;
    background-color: #0073e6;
    /* Adjust the color of the border */
}

.left-panel-container {
    float: left;
    width: 20%;
    height: 94vh;
    overflow: hidden;
    /* Hide the scrollbar initially */
    position: relative;
    background-color: #2bcc9c;
}

.left-panel-wrapper {
    position: relative;
    height: 44%;
    background-color: #b6f8e4;
    /* Very light blue color for the left side background */
    overflow-y: auto;
    /* Use auto to show scrollbar when content overflows */
    margin-right: -17px;
    /* Adjust for the hidden scrollbar width */
}



/* ------------- left pannel button -------------------*/
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.btn-control {
    /*margin-left: 80px;
    margin-top: 330px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* ************* Left Panel Video *********************/

video {
    max-width: 100%;
    height: auto;
    scroll-margin-right: -2px;
    /* Adjust the right margin as needed */
    scroll-margin-left: 1px;
    /* Adjust the left margin as needed */
    flex-basis: 50%;
    padding: 0;
}

.draggable-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    margin-right: -10px;
}

.draggable-list li {
    cursor: grab;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    width: calc(50% - 10px);
    margin: 5px;
    padding: 5px;
}


/***************************** Right Panel ***********************************/
/*.right-panel {              // Need this if only two panels are required
    float: right;
    width: 80%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}*/

.right-panel-container {
    float: right;
    /* Change from float: right to float: left to align right */
    width: 20%;
    height: 94vh;
    overflow: hidden;
    /* Hide the scrollbar initially */
    position: relative;
}

.right-panel-wrapper {
    position: relative;
    height: 100%;
    background-color: #b6f8e4;
    /* Very light blue color for the right side background */
    overflow-y: auto;
    /* Use auto to show scrollbar when content overflows */
    margin-left: -17px;
    /* Adjust for the hidden scrollbar width */
}

.right-panel-container::after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    height: 17px;
    /* Adjust as needed based on your scrollbar width */
    background-color: #e6f8a4;
    /* Match the very light blue color */
}

/* -------------------- Middle Container -------------------*/

/* Style for the drag-and-drop rectangles */

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: auto; /* Enables horizontal scrolling */
    padding: 0 20px; /* Adds 20px padding to the left and right */
    
    margin-left: 20%;
    
}

.drag-drop-rectangle {
    margin-left: 450px;
    margin-top: 5%;
    border: 2px dashed #ccc;
    padding: 15px;
    margin-bottom: 10px;
    width: 100px;
}

.drag-drop-rectangle1 {
    margin-left: 28% ;
    margin-top: 5%;
    border: 2px dashed #ccc;
    padding: 15px;
    margin-bottom: 10px;
    width: 100px;
}
.bottom-rectangles-container {
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
}

    .add-file-button-container {
        margin-left: 12px;
        margin-bottom: 10px;
        white-space: nowrap;
    }

    .add-file-button {
        margin-bottom: 0;
    }

    .styled-button {
        margin-bottom: 10px;
        background-color: #72caec;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
    }

    .styled-button:hover {
        background-color: #0056b3;
    }

    .styled-button:active {
        background-color: #003080;
    }
    .bottom-rectangles-containerO {
        margin-left: 100px;
        margin-top: 20px;
        display: flex;
    }



    .btn-control1 {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center; /* Centers the controls */
        font-size: 1.2em; /* Makes the controls larger */
        margin-bottom: 10%;
    }
    #dialog{
        width: 150px;
        display: flex;
        flex-direction: column;
    }
    form {
        width: 600px;
        display: flex;
        flex-direction: column;
      }
      
      label {
        margin-bottom: 5px;
      }
      
      input[type="text"]
      {
        width: 220px;
        padding: 8px;
        margin-right:10px ;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      
      input[type="number"]
      {
        height: 39px;
        margin-left: 10px;
        margin-right:10px ;
        width: 50px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
      }
      
     .score_number
     {
        display: flex;
     }


    .for_score
    {
        margin-left: 450px;
    }
    .scrollable-area {
        width: 1000px; /* Set your desired width */
       /*  height: 500px; Set your desired height */
        
        
        top: 0;
        left: 0;
     
    }
    .content {
        width: 1000px; /* Set a width larger than the container to enable horizontal scrolling */
        height: 825px;/* Set a height larger than the container to enable vertical scrolling*/
        
    }
.sub-panel1,
.sub-panel3 {
    flex-grow: 4;
    /* 40% */
    background-color: #e0e0e0;
    /* Example background color */
}

.sub-panel2,
.sub-panel4 {
    flex-grow: 1;
    /* 10% */
    background-color: #c0c0c0;
    /* Example background color */
}
/* Base styles */
* {
	margin: 0;
	padding: 0;
}

.container {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 400px;
}

.tree {
	white-space: nowrap;
	display: inline-block;
	min-width: 2000%;
}

.tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
}

.tree li {
	float: left;
	
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
}

.tree li::before,
.tree li::after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}

.tree li::after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}

.tree li:only-child::after,
.tree li:only-child::before {
	display: none;
}

.tree li:only-child {
	padding-top: 0;
}

.tree li:first-child::before,
.tree li:last-child::after {
	border: 0 none;
}

.tree li:last-child::before {
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
	border-radius: 5px 0 0 0;
}

.tree ul ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	border-left: 1px solid #ccc;
	width: 0;
}

.tree .parent::before {
	top: 10px;
}

.tree li a {
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	border-radius: 5px;
	transition: all 0.5s;
}

.tree li a:hover,
.tree li a:hover+ul li a {
	background: #c8e4f8;
	color: #000;
	border: 1px solid #94a0b4;
}

.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before {
	border-color: #94a0b4;
}

.tree li button {
    margin-left: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: inherit;
}

.video-container {
    width: 100%;
    margin-top: 20px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.video-grid video {
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 150px;
}

.drag-drop-container {
    width: 100%;
    height: 100px;
    border: 2px dashed #ccc;
    margin-top: 10px;
    text-align: center;
    line-height: 100px;
}
